*{
    box-sizing: border-box;
    margin: 0px;
}

img{
    width: 100%;
}

nav{
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0064b4;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}